.wrapper#homepage {
    grid-template-columns: 1fr 1fr 1fr;
    --flow-gap: 3rem;
}

#intro img {
    max-width: 15rem;
    height: auto;
    width: 100%;
    aspect-ratio: 1;
    margin: auto;
    position: relative;
    object-fit: cover;
}

#intro picture {
    position: relative;
    width: fit-content;
    max-width: 15rem;
}

#intro {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    grid-rows: 1;
}

.splitview {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1.5rem;
    padding: 0;
    position: relative;
}

@keyframes sticky-highlight {
    to {
        font-weight: bolder;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scaleX(0);
    }

    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.splitview > .lead-box {
    position: sticky;
    top: 2rem;
    bottom: 2rem;
    align-self: start;
    padding-block: 3rem;
    padding-inline-end: 3rem;
}

.filmstrip {
    display: grid;
    grid-template-columns: repeat(8, minmax(15rem, 1fr));
    gap: 1.5rem;
    padding: 0;
    position: relative;
    grid-template-rows: 1fr;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.filmstrip > .image-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-align: center;
}

.filmstrip > .image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

@media (max-width: 768px) {
    #intro,
    .splitview {
        grid-template-columns: 1fr;
    }

    #intro img {
        max-width: 100%;
    }
}
