.wrapper {
    --gap: 1.5rem;
}

.summary {
    display: none;
}

.summary.active {
    display: block;
}

.project:has(.title),
.talk:has(.title) {
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-rows: auto;
    min-height: 10rem;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.talk:has(.title) {
    min-height: 5rem;
    grid-template-rows: auto;
}

.project .summary {
    display: block;
    grid-column: 1;
}

.archived {
    opacity: 0.6;
}

.links {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    gap: 0.75rem;
}

ul:not([class]) li {
    max-inline-size: 100%;
}

:not(nav) > ul > * + * {
    margin-top: 2.15rem;
}

ul.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links a {
    width: 100%;
}

ul.boxes li:has(.summary.active):hover {
    border-left: 1rem solid var(--blue-7);
    padding-right: 1.5rem;
    padding-left: 0.75rem;
}

.title {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1;
    font-variation-settings: "wght" 700;
}

li.note {
    display: block;
    margin-inline-end: 1.5rem;
    padding: 0 1.5rem;
    position: relative;
    margin: 0;
}

ul:has(.note) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
}

ul:has(.note) li:not(.note) {
    grid-column: -1/1;
}

ul:has(.note) li.note {
    grid-column: span 1;
    margin-block-end: 0;
}

.onecol:has(.toggle:only-child) {
    display: grid;
    place-content: center;
    height: 100%;
}

@media (max-width: 768px) {
    .project:has(.title),
    .talk:has(.title) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-inline: 0;
    }

    .project .summary {
        grid-column: 1;
        grid-row: 3;
    }

    .talk .title {
        grid-column: 1;
        grid-row: 1;
    }

    .talk > .links {
        grid-column: 1;
        grid-row: 2;
    }

    .links {
        grid-column: 1;
        grid-row: 2;
    }
}

#filters {
    padding: 0;
}

li:has(article) {
    margin-block-end: 6rem !important;
}
