.wrapper#homepage {
  grid-template-columns: 1fr 1fr 1fr;
}

#intro img {
  max-width: 15rem;
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  margin: auto;
}

#intro {
  gap: 1.5rem;
  display: grid;
  grid-template-columns: 15rem 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-rows: 1;
}

#intro::after,
#current::after {
  inline-size: 80%;
  block-size: var(--line-thickness);
  inset-inline-start: 10%;
  inset-block-start: calc(var(--line-offset) * -1);
  top: calc(100% + var(--gap) / 2);
}

#intro::before {
  inline-size: var(--line-thickness);
  block-size: 80%;
  inset-block-start: 10%;
  inset-inline-start: calc(var(--line-offset) * -1);
  left: calc(100%);
}

#current::after {
}

#other {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#projects {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
  gap: 1.5rem;
  padding: 0;
}

#projects > div {
  padding: 1.5rem;
}

.lead-box {
  padding: 0 3rem 0 0;
}

#film {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 1.5rem;
}

#film .img-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.img-holder .img-desc,
#words > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#words {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#projects::after,
#words::after {
  inline-size: 80%;
  block-size: var(--line-thickness);
  inset-inline-start: 10%;
  inset-block-start: calc(var(--line-offset) * -1);
  top: calc(100% + var(--gap) / 2);
}

#words > * {
  padding: 1.5rem;
  justify-content: space-between;
}

#words div:has(small) + .banner {
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  #intro {
    grid-template-columns: 1fr;
  }

  #intro img {
    max-width: 100%;
  }
}
