.summary {
  display: none;
}

.summary.active {
  display: block;
}

.project:has(.title),
.talk:has(.title) {
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 20ch;
  grid-gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  min-height: 10rem;
  max-height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.talk:has(.title) {
  min-height: 5rem;
  grid-template-rows: auto;
}

.project .summary {
  display: block;
  grid-column: 1;
  grid-row: 2 / 4;
}

.archived {
  /* background-color: var(--blue-0); */
  color: var(--blue-4);
  opacity: 0.75;
  --banner-line-color: var(--blue-4);
  --banner-text-color: var(--blue-4);
}

.links {
  grid-column: 2;
  grid-row: -1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  gap: 0.75rem;
}

ul.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.boxes li {
  padding: 1.5rem;
  border-left: 2px solid var(--blue-7);
  border-bottom: 2px solid var(--blue-7);
  border-right: 2px solid var(--blue-7);
  border-top: 2px solid var(--blue-7);
  margin: 0;
  transition: all 0.25s ease;
  /* border-radius: 0.25rem; */
}

ul.boxes li:hover {
  /* transform: translate3d(0, -0.25rem, 0); */
  border-left: 2rem solid var(--blue-7);
  padding-right: 0;
  padding-left: 0.5rem;
}

ul.boxes li:after {
  display: none;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
