.summary {
  display: none;
}

.summary.active {
  display: block;
}

.project:has(.title),
.talk:has(.title) {
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 20ch;
  grid-gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  min-height: 10rem;
  max-height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.talk:has(.title) {
  min-height: 5rem;
  grid-template-rows: auto;
}

.project .summary {
  display: block;
  grid-column: 1;
  grid-row: 2 / 4;
}

.archived {
  /* background-color: var(--blue-0); */
  color: var(--blue-4);
  opacity: 0.6;
  --banner-line-color: var(--blue-4);
  --banner-text-color: var(--blue-4);
}

.links {
  grid-column: 2;
  grid-row: -1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  gap: 0.75rem;
}

ul:not([class]) li {
  max-inline-size: 100%;
}

ul > * + * {
  margin-top: 2.15rem;
}

ul.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.boxes li,
.links a {
  padding: 1.5rem;
  border-left: 2px solid var(--blue-7);
  border-bottom: 2px solid var(--blue-7);
  border-right: 2px solid var(--blue-7);
  border-top: 2px solid var(--blue-7);
  margin: 0;
  transition: all 0.25s ease;
  /* border-radius: 0.25rem; */
}

ul.boxes li:hover,
.links a:hover {
  /* transform: translate3d(0, -0.25rem, 0); */
  border-left: 2rem solid var(--blue-7);
  padding-right: 0;
  padding-left: 0.5rem;
}

.links a {
  width: 100%;
  text-align: left;
}

ul.boxes li:has(.summary.active):hover {
  border-left: 1rem solid var(--blue-7);
  padding-right: 1.5rem;
  padding-left: 0.75rem;
}

ul.boxes li:after {
  display: none;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

li.note {
  /* width: fit-content; */
  display: block;
  margin-inline-end: 1.5rem;
  padding: 1.5rem;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  margin: 0;
  border-color: var(--blue-4);
  /* max-width: 10ch; */
  /* max-inline-size: 40ch !important; */
}

li.note:hover {
  /* border-left: 1ch solid var(--blue-7);
  border-color: var(--blue-7);
  background-color: var(--blue-0);
  padding-right: 1.5rem;
  padding-left: calc(1.5rem - 1ch); */
}

li.note:before {
  display: none;
}

li.note:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1ch;
  height: 0;
  background-color: var(--blue-4);
  transition: all 0.25s ease;
}

li.note:hover:after {
  height: 100%;
}

ul:has(.note) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
}

ul:has(.note) li:not(.note) {
  grid-column: -1/1;
}

ul:has(.note) li.note {
  grid-column: span 1;
}

span.count-posts {
  position: relative;
  display: inline-block;
  padding-left: 1rem;
}

span.count-posts:before {
  content: "";
  position: absolute;
  position: absolute;
  left: 0ch;
  top: 0.75ex;
  height: 1ex;
  width: 1ex;
  /* background-color: var(--marker-color, var(--blue-0)); */
  border: 2px solid var(--marker-color, var(--blue-4));
}

span.count-notes {
  position: relative;
  display: inline-block;
  /* padding-left: 1rem; */
  padding-inline: 0.25rem;
  /* margin-inline-start: 0.25rem; */
}

span.count-notes:before {
  content: "";
  position: absolute;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease;
  border-color: var(--blue-4);
}

strong {
  color: var(--blue-12);
}
