/* .wrapper {
  grid-template-rows: repeat(2, max-content);
} */

section > * + * {
  margin-top: 2.15rem;
}

section > p:first-child {
  margin-top: 0;
}

section:first-of-type::before {
  inline-size: 80%;
  block-size: var(--line-thickness);
  /* inset-inline-start: 10%; */
  inset-block-start: calc(var(--line-offset) * -1);
  top: calc(100% + var(--gap) / 2);
}

small + h1 {
  margin-top: 0.5rem;
}

section p,
section ul,
section ul li,
section ol,
section ol li,
section blockquote,
section pre {
  /* font-size: 1.25rem; */
  line-height: 1.75rem;
  max-inline-size: 80ch;
}

section[class] ul li:after {
  /* display: none; */
}

.table-of-contents {
  margin-block-start: 2.15rem;
  padding-block: 1.5rem;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.toc ul > li,
.toc ol > li {
  margin-block-start: 0.5rem;
}

section h2,
section h3,
section h4 {
  line-height: 1.35;
  margin-block: 1.25rem;
  max-inline-size: 40ch;
}

section h2[id],
section h3[id],
section h4[id] {
  margin-left: -1.5ch;
  position: relative;
  padding-left: 1.5ch;
}

.heading-wrapper {
  position: relative;
}

.heading-wrapper:has(h2, h3) {
  margin-block-start: 4rem;
}

.heading-wrapper + .heading-wrapper {
  margin-block-start: 2.15rem;
}

.heading-wrapper .deeplink {
  position: absolute;
  inset-inline-start: -1.5ch;
  top: -0.15ex;
  font-size: var(--deeplink-size);
  color: var(--blue-7);
  text-decoration: none;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.heading-wrapper:has(h2[id]) {
  --deeplink-size: var(--font-size-6);
}

.heading-wrapper:has(h3[id]) {
  --deeplink-size: var(--font-size-5);
}

.heading-wrapper:has(h4[id]) {
  --deeplink-size: var(--font-size-4);
}

.heading-wrapper:has(h2[id], h3[id], h4[id]):hover .deeplink {
  opacity: 1;
  display: block;
  transform: skew(20deg);
}

@media (prefers-reduced-motion: reduce) {
  section[class] ul li:before {
    transition: none;
  }
}

ol {
  padding-left: 2.75rem;
}

ul li > ul {
  margin-top: 1.5rem;
  --marker-color: var(--blue-7);
}

blockquote {
  padding: 1.75rem 1.5rem;
  margin: 1.5rem 0;
  /* border-top: 1px solid var(--blue-7); */
  border-bottom: 1px solid var(--blue-7);
  /* border-right: 0.25rem solid var(--blue-7); */
  border-left: 1.25rem solid var(--blue-4);
  /* max-width: 80%; */
  font-family: var(--font-monospace-slab-serif);
  transform: skew(-5deg);
  position: relative;
  transition: transform 0.2s ease;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.25rem;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #67f3da;
  border-left: 1.25rem solid #67f3da;
  opacity: 0;
  animation: text-glitch3 2.5s infinite;
}

blockquote::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1.25rem;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #f16f6f;
  border-left: 1.25rem solid #f16f6f;
  opacity: 0;
  animation: text-glitch2 2.5s infinite;
}

blockquote:hover::before,
blockquote:hover::after {
  animation: none;
}

blockquote:hover {
  transform: skew(0);
}

b blockquote p {
  margin-inline: 0;
}

blockquote p:first-of-type {
  margin-block-start: 0;
}

pre:has(code) code,
pre:has(code) code::before,
pre:has(code) code::after,
pre:has(code) code:hover,
pre:has(code) code:hover::before,
pre:has(code) code:hover::after {
  background: none;
  border: none;
  animation: none;
}

pre:has(code) {
  max-inline-size: 100%;
}

pre {
  padding: 1.75rem 1.5rem;
  margin: 1.5rem 0;
  border-radius: 0.25rem;
  overflow-x: auto;
  position: relative;
}

code {
  background-color: var(--blue-0);
  color: var(--background);
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  /* border: 1px solid var(--blue-4); */
  /* color: var(--background); */
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.codeblock {
  position: relative;
}

.codeblock > .lang {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--blue-0);
  color: var(--stone-12);
  z-index: 1;
  animation: text-glitch1 2.5s infinite;
}

.codeblock > .filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  color: var(--stone-12);
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid var(--blue-0);
  color: var(--stone-0);
  padding-inline-start: 1.5rem;
  animation: text-glitch1 2.5s infinite;
}

.codeblock > .lang::before,
.codeblock > .filename::before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  /* border-radius: 0.25rem;
  border: 2px solid; */
  color: #67f3da;
  padding: 0.25rem 0.5rem;
  animation: text-glitch2 2.5s infinite;
}

.codeblock > .lang::after,
.codeblock > .filename::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  /* border-radius: 0.25rem;
  border: 2px solid; */
  color: #f16f6f;
  padding: 0.25rem 0.5rem;
  animation: text-glitch3 2.5s infinite;
}

.codeblock:hover > .lang,
.codeblock:hover > .filename,
.codeblock:hover > .lang::before,
.codeblock:hover > .filename::before,
.codeblock:hover > .lang::after,
.codeblock:hover > .filename::after {
  animation: none;
}

.codeblock:hover pre {
  /* animation: list-glitch1 2.5s 1 reverse; */
}

.callout:hover::before,
.callout:hover::after,
.callout:hover .title::before,
.callout:hover .title::after {
  animation: none;
  display: none;
}

.callout::before {
  border-color: #f16f6f;
  animation: text-glitch1 1.5s infinite;
  border: 1px solid;
}

.callout::after {
  border-color: #67f3da;
  animation: text-glitch2 1.5s infinite;
  animation-delay: 0.5s;
  border: 1px solid;
}

.callout p {
  max-inline-size: 100%;
}

.callout .title {
  margin: 0;
  width: fit-content;
  background-color: var(--blue-8);
  /* color: var(--stone-0); */
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  margin-left: -1.5rem;
  font-size: 1.5rem;
  position: relative;
  z-index: -1;
}

.callout code {
  background-color: var(--blue-12);
  color: var(--stone-0);
}

.table-wrapper {
  max-width: 100vw;
  overflow: auto;
}

table {
  max-inline-size: 100%;
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

table th,
table td {
  border-top: 1px solid var(--blue-7);
  padding: 0.75rem 1.5rem;
  text-align: center;
  position: relative;
}

table th::before,
table td::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 1px solid #f16f6f;
  display: block;
  animation: text-glitch1 2.5s infinite;
}

table th::after,
table td::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 1px solid #67f3da;
  display: block;
  animation: text-glitch3 2.5s infinite;
}

table th {
  background-color: var(--blue-7);
  color: var(--stone-0);
  /* border: 1px solid var(--blue-7); */
}

table td + td,
table th + th {
  border-left: 1px solid var(--blue-7);
}

table td + td::before,
table th + th::before {
  border-left: 1px solid #f16f6f;
}

table td + td::after,
table th + th::after {
  border-left: 1px solid #67f3da;
}

table tr {
  position: relative;
}

table tr:hover td:first-of-type:before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 1.5rem;
  block-size: 100%;
  background-color: var(--blue-7);
}

table tr:hover td {
  background-color: var(--blue-0);
  color: var(--stone-11);
}

table:has(tr:hover) th::before,
table:has(tr:hover) td::before,
table:has(tr:hover) th::after,
table:has(tr:hover) td::after {
  border: none;
  animation: none;
}

figure {
  margin: 1.5rem 0;
  border: 1px solid var(--blue-4);
  padding: 0.35rem;
  position: relative;
  /* border-left: 2rem solid var(--blue-4); */
}

figure::before,
figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border: 1px solid;
}

figure::before {
  border-color: #67f3da;
  animation: text-glitch1 2.5s infinite;
}

figure::after {
  border-color: #f16f6f;
  animation: list-glitch2 2.5s infinite;
}

figure:hover::before,
figure:hover::after {
  border: none;
  animation: none;
}

figcaption {
  font-size: 0.875rem;
  max-inline-size: 100%;
  text-align: center;
  padding: 1rem 1.5rem;
  border-top: 2px solid var(--stone-0);
  background-color: var(--blue-7);
  color: var(--stone-0);
  --override-color: var(--stone-0);
}

figcaption p {
  margin: 0;
}

article a::before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

article a::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

article a {
  position: relative;
  display: inline;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

article a:not(.deeplink):hover {
  animation: link-glitch 2.5s infinite;
}

.gh-edit {
  background: var(--background);
  margin-top: -3rem;
  padding-block: 0.5rem;
  margin-inline: -2rem;
  width: calc(100% + 4rem);
  position: relative;
  --line-color: var(--blue-2);
  border-bottom: 2px solid var(--line-color);
}

.gh-edit::before,
.gh-edit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid;
  top: 0;
  left: 0;
  overflow: hidden;
}

.gh-edit::before {
  border-color: #f16f6f;
  animation: list-glitch1 3.5s infinite;
}

.gh-edit::after {
  border-color: #67f3da;
  animation: list-glitch2 2.5s infinite;
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  blockquote {
    transform: skew(-2deg);
  }

  .heading-wrapper a.deeplink {
    top: -2.15ex;
    inset-inline-start: 0;
  }

  .gh-edit {
    margin-inline: -0.25rem;
    width: calc(100% + 0.5rem);
  }
}

@keyframes link-glitch {
  0% {
    transform: none;
    text-shadow: 2px -2px 3px rgba(103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg) scale(1.02);
    text-shadow: 3px -3px 4px rgba(103, 243, 218, 0.76),
      -3px 3px 2px rgba(241, 111, 111, 1);
    opacity: 0.85;
  }
  10% {
    transform: none;
    text-shadow: 2px -2px 3px rgba(103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  27% {
    transform: none;
    text-shadow: 2px -2px 3px rgba(103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg) scale(0.98);
    text-shadow: 3px -3px 4px rgba(103, 243, 218, 0.76),
      -3px 3px 2px rgba(241, 111, 111, 1);
    opacity: 0.85;
  }
  35% {
    transform: none;
    text-shadow: 2px -2px 3px rgba(103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  52% {
    transform: none;
    text-shadow: 2px -2px 3px rgba(103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg) scale(1.03);
    text-shadow: 3px -3px 4px rgba(103, 243, 218, 0.76),
      -3px 3px 2px rgba(241, 111, 111, 1);
    opacity: 0.85;
  }
  50% {
    transform: none;
    text-shadow: 2px -2px 3px rgba(103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  72% {
    transform: none;
    text-shadow: 2px -2px 3pxrgba (103, 243, 218, 0.76),
      -2px 2px 3px rgba(241, 111, 111, 1);
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg) scale(0.97);
    text-shadow: 3px -3px 4px rgba(103, 243, 218, 0.76),
      -3px 3px 2px rgba(241, 111, 111, 1);
    opacity: 0.85;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
