/* .wrapper {
  grid-template-rows: repeat(2, max-content);
} */

section > * + * {
  margin-top: 2.15rem;
}

section > p:first-child {
  margin-top: 0;
}

section:first-of-type::before {
  inline-size: 80%;
  block-size: var(--line-thickness);
  /* inset-inline-start: 10%; */
  inset-block-start: calc(var(--line-offset) * -1);
  top: calc(100% + var(--gap) / 2);
}

section p,
section ul,
section ul li,
section ol,
section ol li,
section blockquote,
section pre {
  /* font-size: 1.25rem; */
  line-height: 1.75rem;
  max-inline-size: 80ch;
}

section[class] ul li:after {
  /* display: none; */
}

section h2,
section h3,
section h4 {
  line-height: 1.35;
  margin-block: 1.25rem;
  max-inline-size: 40ch;
}

section h2[id],
section h3[id],
section h4[id] {
  margin-left: -1.5ch;
  position: relative;
  padding-left: 1.5ch;
}

.heading-wrapper {
  position: relative;
}

.heading-wrapper:has(h2, h3) {
  margin-block-start: 4rem;
}

.heading-wrapper + .heading-wrapper {
  margin-block-start: 2.15rem;
}

.heading-wrapper .deeplink {
  position: absolute;
  inset-inline-start: -1.5ch;
  top: -0.15ex;
  font-size: var(--deeplink-size);
  color: var(--blue-7);
  text-decoration: none;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.heading-wrapper:has(h2[id]) {
  --deeplink-size: var(--font-size-6);
}

.heading-wrapper:has(h3[id]) {
  --deeplink-size: var(--font-size-5);
}

.heading-wrapper:has(h4[id]) {
  --deeplink-size: var(--font-size-4);
}

.heading-wrapper:has(h2[id], h3[id], h4[id]):hover .deeplink {
  opacity: 1;
  display: block;
  transform: skew(20deg);
}

@media (prefers-reduced-motion: reduce) {
  section[class] ul li:before {
    transition: none;
  }
}

ol {
  padding-left: 2.75rem;
}

ul li > ul {
  margin-top: 1.5rem;
  --marker-color: var(--blue-7);
}

blockquote {
  padding: 1.75rem 1.5rem;
  margin: 1.5rem 0;
  /* border-top: 1px solid var(--blue-7); */
  border-bottom: 1px solid var(--blue-7);
  /* border-right: 0.25rem solid var(--blue-7); */
  border-left: 1.25rem solid var(--blue-4);
  /* max-width: 80%; */
  font-family: var(--font-monospace-slab-serif);
  transform: skew(-5deg);
  position: relative;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.25rem;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #67f3da;
  border-left: 1.25rem solid #67f3da;
  opacity: 0;
  animation: list-glitch3 2.5s infinite;
}

blockquote::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1.25rem;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #f16f6f;
  border-left: 1.25rem solid #f16f6f;
  opacity: 0;
  animation: list-glitch2 2.5s infinite;
}

blockquote p {
  margin-inline: 0;
}

blockquote p:first-of-type {
  margin-block-start: 0;
}

pre:has(code) code {
  background: none;
  border: none;
}

pre:has(code) {
  max-inline-size: 100%;
}

pre {
  padding: 1.75rem 1.5rem;
  margin: 1.5rem 0;
  border-radius: 0.25rem;
  overflow-x: auto;
  position: relative;
}

code {
  /* background-color: var(--blue-0); */
  /* color: var(--stone-0); */
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--blue-4);
  /* color: var(--background); */
  position: relative;
  animation: text-glitch1 2.5s infinite;
}

code:before,
code:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  border: 2px solid;
  /* background-color: var(--blue-7); */
  opacity: 0;
}

code:before {
  border-color: #67f3da;
  animation: list-glitch1 2.5s infinite;
}

code:after {
  border-color: #f16f6f;
  animation: list-glitch2 2.5s infinite;
}

.codeblock {
  position: relative;
}

.codeblock > .lang {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--blue-0);
  color: var(--stone-12);
  z-index: 1;
}

.codeblock > .filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  color: var(--stone-12);
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid var(--blue-0);
  color: var(--stone-0);
  padding-inline-start: 1.5rem;
}

.callout {
  padding: 1.75rem 1.5rem;
  margin: 1.5rem 0;
  border: 1px solid var(--blue-8);
  border-radius: 0.25rem;
  background-color: var(--blue-0);
}

.callout .title {
  margin: 0;
  width: fit-content;
  background-color: var(--blue-8);
  color: var(--stone-0);
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  margin-left: -1.5rem;
  font-size: 1.5rem;
}

.callout code {
  background-color: var(--blue-12);
  color: var(--stone-0);
}

table {
  max-inline-size: 100%;
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

table th,
table td {
  border-top: 1px solid var(--blue-7);
  padding: 0.75rem 1.5rem;
  text-align: center;
}

table th {
  background-color: var(--blue-7);
  color: var(--stone-0);
  /* border: 1px solid var(--blue-7); */
}

table td + td,
table th + th {
  border-left: 1px solid var(--blue-7);
}

table tr {
  position: relative;
}

table tr:hover td:first-of-type:before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 1.5rem;
  block-size: 100%;
  background-color: var(--blue-7);
}

table tr:hover td {
  background-color: var(--blue-0);
}

figure {
  margin: 1.5rem 0;
  border: 1px solid var(--blue-4);
  padding: 0.35rem;
  /* border-left: 2rem solid var(--blue-4); */
}

figcaption {
  font-size: 0.875rem;
  max-inline-size: 100%;
  text-align: center;
  padding: 1rem 1.5rem;
  border-top: 2px solid var(--stone-0);
  background-color: var(--blue-7);
  color: var(--stone-0);
  --override-color: var(--stone-0);
}

figcaption p {
  margin: 0;
}

/* Glitch effect from */
.glitch-wrapper h1,
.glitch-wrapper p,
article h2,
article h3,
article h4 {
  position: relative;
}

article h2::before,
article h3::before,
article h4::before,
article h2::after,
article h3::after,
article h4::after {
  margin-left: 1.35ch;
}

.glitch-wrapper h1::before,
.glitch-wrapper p::before,
article h2::before,
article h3::before,
article h4::before,
.glitch-wrapper h1::after,
.glitch-wrapper p::after,
article h2::after,
article h3::after,
article h4::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* animation: glitch3 2.5s infinite; */
}

.glitch-wrapper:hover > h1,
.glitch-wrapper:hover > p,
article h2:hover,
article h3:hover,
article h4:hover {
  animation: text-glitch1 3.5s infinite alternate;
}

.glitch-wrapper:hover > h1::before,
.glitch-wrapper:hover > p::before,
article h2:hover::before,
article h3:hover::before,
article h4:hover::before {
  animation: text-glitch2 3.5s infinite alternate;
  color: #67f3da;
}

.glitch-wrapper:hover > h1::after,
.glitch-wrapper:hover > p::after,
article h2:hover::after,
article h3:hover::after,
article h4:hover::after {
  color: #f16f6f;
  animation: text-glitch3 3.5s infinite alternate;
}

. article a::before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
}

article a::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
}

article a {
  position: relative;
  display: inline-block;
}

article a:hover {
  animation: text-glitch1 2.5s infinite;
}

article a:hover::before {
  animation: text-glitch3 2.5s infinite;
  color: #f16f6f;
}

article a:hover::after {
  animation: text-glitch2 2.5s infinite;
  color: #67f3da;
}
