---
layout: layouts/base.liquid
css: post.css
---

<div class="wrapper">
  {% if title %}
    <section class="twocol">
      <h1>{{ title }}</h1>
      {% if date %}
        <p>Published:
          <time class="postlist-date" datetime="{{ date | date_to_rfc822 }}">{{ date | date_to_long_string }}</time>
        </p>
      {% endif %}
      {% greenLinks %}
    </section>
  {% endif %}

  <section class="twocol">
    {{ content }}
  </section>
</div>