---
title: Notes
layout: layouts/list.liquid
css: listPage.css
eleventyExcludeFromCollections: true
---
<section class="twocol">
  <h1>Notes</h1>
  <p>A collection of notes, quick thoughts, and personal reflections that have been bouncing around in my mind.</p>
</section>

{% comment %} TODO: Add in Monthlys & Best bits with some special design {% endcomment %}
<section class="threecol">
  {% assign postslist = collections.note | reverse %}
  <ul class="boxes">
    {% for post in postslist %}
      <li>
        <p class="title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </p>
        <small>
          <time class="postlist-date" datetime="{{ post.date | date_to_rfc822 }}">{{ post.date | date_to_long_string }}</time>
        </small>
      </li>
    {% endfor %}
  </ul>
</section>