---
title: Carbon aware site
layout: layouts/post.liquid
css: post.css
---

<section class="twocol">
  <div class="callout">
    <p class="title">This site is now grid-aware</p>
    <p>Through a new project we're working on at Green Web Foundation, called Grid-aware Websites I've changed the functionality of this site to be grid-aware and respond to the fuel mix of a visitors national energy grid.
      <a href="https://fershad.com/grid-aware-site">Learn more about that here</a>.</p>
  </div>

  <h2>This website is carbon aware</h2>


  <p>
    The concept of a carbon-aware website is one where the content/user experience of a site changes depending on how the grid intensity of the electricity grid. Implementing carbon awareness on this website was inspired by the work of
    <a href="https://branch.climateaction.tech/issues/issue-1/designing-branch-sustainable-interaction-design-principles/">Branch Magazine</a>.
  </p>

  <h2>Jargon buster</h2>
  <div>
    <p>There was a bit of jargon in that first sentence, and there might be more further down the page. So here's a summary of some key terms:</p>
    <ul>
      <li>
        <b>Carbon aware:</b>
        A carbon-aware product/tool/service reacts to how clean/dirty the electricity grid is. When the grid is powered by more renewable energy, it will do more complicated/energy intensive tasks. When the grid is powered by more fossil-fuels, it defers energy hungry tasks or modifies the experience to reduce their impact.</li>
      <li>
        <b>Grid intensity:</b>
        A way of measuring how clean electricity generation is. More precisely how much CO2 is emitted by producing a unit of electricity.</li>
      <li>
        <b>Cloudflare Workers:</b>
        A code execution platform that is globally deployed and runs on CDN edge nodes.</li>
    </ul>
  </div>

  <h2>What makes this site carbon aware?</h2>
  <p>Most of the magic that makes this website carbon aware is thanks to
    <a href=https://developers.cloudflare.com/workers">Cloudflare Workers</a>,
    <a href="https://www.co2signal.com/">CO2signal</a>, and
    <a href="https://github.com/thegreenwebfoundation/co2.js">CO2.js</a>.</p>
  <div>
    <p>When someone visits this website, the following process is kicked off:</p>
    <ol>
      <li>A Cloudflare Worker checks the request object for the country a visitor is located in.
      </li>
      <li>If a location is found, then a fetch request is made to the CO2signal API.</li>
      <li>CO2signal sends back data about the
        <em>current</em>
        grid intensity at the visitor's location.
      </li>
      <li>The current grid intensity is checked against the annual average grid intensity for that country (data from CO2.js).</li>
      <li>If the grid intensity is equal to or greater than the annual average, then the HTML response is modified using the
        <a href="https://developers.cloudflare.com/workers/runtime-apis/html-rewriter/">Cloudflare Workers HTMLRewriter</a>.
        <ul>
          <li>If the grid intensity is less than the annual average, the regular (unmodified) site is returned to the user.</li>
        </ul>
      </li>
    </ol>
    <p>If at any point along in that process there is no data available or something goes wrong then the original web page will be shown.</p>
  </div>
  <h3>What gets modified on the site?</h3>
  <p>When the grid intensity at the visitor's location is equal to or greater than 221 g/kWh, the following modification are made:</p>
  <ul>
    <li>Image quality is greatly reduced.
      <ul>
        <li>Visitors can click to download better quality versions of any image if they need to.</li>
      </ul>
    </li>
    <li>Remove AVIF images, since
      <a href="https://www.smashingmagazine.com/2021/09/modern-image-formats-avif-webp/#:~:text=Decoding%20AVIF%20images%20for%20display%20can%20also%20take%20up%20more%20CPU%20power%20than%20other%20codecs%2C%20though%20smaller%20file%20sizes%20may%20compensate%20for%20this." data-target="external">decoding them can be more CPU intensive</a>.</li>
    <li>Non-critical JavaScript is removed from the site. This includes:
      <ul>
        <li>Progress bars when reading blog posts.</li>
        <li>Share links (using the Navigator.share API).</li>
        <li>Instant.page script</li>
        <li>JavaScript that creates CodePen embeds. The embeds are replaced with a link to the pen.</li>
      </ul>
    </li>
  </ul>
  <p>I still keep website analytics on my site, since I like to get a sense for what people are reading and might one day use that data for some kind of carbon accounting.</p>

  <h3>Further background, context, and thoughts</h3>
  <p>If you want more details on this whole project, I've blogged about the idea behind building a carbon-aware website. I go through some examples of carbon-aware digital products, how I got the idea for adding carbon awareness to my site, how I went about doing it and what considerations I made, as well as a bit of future casting on how this could become more mainstream.
    <a href="https://fershad.com/writing/making-this-website-carbon-aware/">Read the blog post</a>.</p>

  <h2>
    <span class="marker-highlight" data-highlight="accent-dark">FAQ</span>
  </h2>
  <h3>Why compare against annual average grid intensity?</h3>
  <p>By comparing the current grid intensity for a country against its annual average grid intensity, the carbon awareness of this website is more relative to a user's location. Using a fixed value for all users globally would result in those living in countries with dirtier grids
    <i>always</i>
    getting served the low-carbon experience, even if their grid might be gradually becoming greener. It also allows carbon awareness to automatically adjust as regional grids decarbonise.</p>
  <h3>Why use the visitor's location?</h3>
  <p>I chose to use the visitor's location to check for grid intensity since my site is a simple website serving up only static assets (HTML, CSS, JS) with no server-side generation or database calls. I did flirt with the idea of checking blocking requests from the server itself, but wasn't sure how to implement a solution for that. It is something I'll come back to.</p>
  <h3>Why even bother?</h3>
  <p>Yep, making my site carbon aware isn't going to make a dent in the fight against climate change. But by doing this, I have:</p>
  <ul>
    <li>A working proof of concept for a really cool idea.</li>
    <li>Found a new API tha provides free, real-time grid intensity data (CO2signal).</li>
    <li>Nerdsniped myself for a few days.</li>
    <li>Got to work on my website a bit again.</li>
  </ul>
  <p>So, all in all ... why bother? Why not?</p>

  <h2>Open source</h2>
  <p>I've created a starter repository on Github with some of the core code that powers the carbon-aware implementation on this website. It should serve as a launching pad, from which you can begin to play around with the idea of carbon awareness on your own sites or apps.</p>
  <p>
    <a href="https://github.com/fershad/carbon-aware-site-worker">View code on Github.</a>
  </p>
</section>