---
title: Contact
layout: layouts/base.liquid
description: I'd love to hear your web sustainability related questions. Contact me.
css: contact.css
---

<div class="wrapper">
  <section class="threecol" id="greenweb">
    <div class="lead-box">
      <h2>Have a project idea?</h2>
    </div>
    <div>
      <p>I work with the
        <a href="https://thegreenwebfoundation.org">Green Web Foundation</a>, and currently do not take on individual freelance projects.</p>
      <p>If you've got a project that you want to work on,
        <a href="https://www.thegreenwebfoundation.org/services/">contact us at the Green Web Foundation</a>. That way, you'll have access to not only me but to the wealth of knowledge that
        <a href="https://www.thegreenwebfoundation.org/about#team">Michelle, Hannah, Katrin, Lima, and Chris</a>
        bring to the table!</p>
    </div>
    <a href="https://www.thegreenwebfoundation.org/services/" class="banner">Contact Green Web Foundation</a>
  </section>

  <section class="threecol">
    <h1>Contact me</h1>
    <p>Hey! I'd love to here from you.</p>
    <p>Below is a list of the best ways you can reach me, in order of how frequently I'm likely to check them:
      <ul class="contact-grid">
        <li>
          <a href="mailto:itsfish@fershad.com?subject=Hi!">Email</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/fershad/">LinkedIn</a>
        </li>
        <li>
          <a href="https://bsky.app/profile/fershad.com">Bluesky</a>
        </li>
        <li>
          <a rel="me" href="https://indieweb.social/@fershad">Mastodon</a>
        </li>
        <li>
          <a href="https://github.com/fershad">Github</a>
        </li>
        <li>
          <a href="https://twitter.com/fershad">Twitter</a>
        </li>
      </ul>
    </p>
  </section>
</div>