---
permalink: feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: Fershad Irani - Writing
  subtitle: Blog posts and notes.
  url: https://fershad.com/
  feedUrl: https://fershad.com/feed.xml
author:
  name: Fershad Irani
---

<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ metadata.feedUrl }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.post | sortByPublishedDate | getNewestCollectionItemPublishedDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ author.name }}</name>
    </author>
    {% for post in collections.post | sortByPublishedDate | limit(10) %}
        {% if not post.externalLink %}
            {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
            <entry>
                <title>{{ post.data.title }}</title>
                <link href="{{ absolutePostUrl }}"/>
                <updated>{{ post.data.published | publishedToDate | dateToRfc3339 }}</updated>
                <content type="html">{{ post.content | removeDeepLinks | renderTransforms(post.data.page, metadata.url) }}</content>
            </entry>
        {% endif %}
    {% endfor %}
</feed>