<footer>
  <nav role="navigation" aria-label="Secondary">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/writing">Writing</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/grid-aware">Grid-aware Website</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li></li>
    </ul>
  </nav>
</footer>