<footer class="flow">
  {% if ghEdit %}
    <div class="gh-edit center-align">
      <small class="">{% editLink page %}</small>
    </div>
  {% endif %}
  <nav role="navigation" aria-label="Secondary">
    <ul>
      <li style="--local-delay: 171.584125ms">
        <a href="/">Home</a>
      </li>
      <li style="--local-delay: 343.16825ms; --local-direction: normal" ">
        <a href="/writing">Writing</a>
      </li>
      <li style="--local-delay: 514.752375ms">
        <a href="/reading">Reading</a>
      </li>
      <li style="--local-delay: 592.752375ms">
        <a href="/links">Links</a>
      </li>
      <li style="--local-delay: 686.3365ms">
        <a href="/speaking">Speaking</a>
      </li>
      <li style="--local-delay: 857.920625ms; --local-direction: normal" ">
        <a href="/projects">Projects</a>
      </li>
      <li style="--local-delay: 1029.50475ms">
        <a href="/grid-aware-site">Grid-aware</a>
      </li>
      <li style="--local-delay: 1201.088875; --local-direction: normal" ">
        <a href="/about">About</a>
      </li>
      <li style="--local-delay: 1372.673ms">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="glitch-wrapper center-align">
    <p data-glitch="Fershad Irani">Fershad Irani</p>
    <small>Digital Sustainability Consultant |
      <a href="https://github.com/fershad/fershad.com">Source code</a>
    </small>
  </div>
  <!-- <div>
      <gaw-info-bar></gaw-info-bar>
      <script type="module" crossorigin src="/js/index-BRfy5svj.js"></script>
  </div> -->
</footer>
