<header>
  {% comment %} {% unless title == "Home" %} {% endcomment %}
  <div>
    <div class="glitch-wrapper">
      <p data-glitch="Fershad Irani">Fershad Irani</p>
      <small>Digital Sustainability Consultant</small>
    </div>
    {% comment %} {% endunless %} {% endcomment %}
    <nav>
      <ul>
        <li style="--local-delay: 171.584125ms">
          <a href="/">Home</a>
        </li>
        <li style="--local-delay: 343.16825ms; --local-direction: normal">
          <a href="/writing">Writing</a>
        </li>
        <li style="--local-delay: 514.752375ms">
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>