<header>
  {% unless title == "Home" %}
    <div>
      <p>Fershad Irani</p>
      <small>Digital Sustainability Consultant</small>
    </div>
  {% endunless %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>